.col{
    border: 1px solid #fff;;
    height: 700px;
    margin: 700px;
    margin-left: 900px;
    padding: 10px;
}

.bf-header{
    margin-left:85px;
    margin-top: 20px;
    margin-bottom: -50px;
    color: #192f60 !important;
    font-size: 50px;
    font-weight: 600;
}

.navbar-brand{
    width: 60px;
    background-color: white !important;
    color: #eb2929 !important;
    text-align: center;
    font-weight: 600;
    font-size: 33px;
    border-radius: 29px;
}

.btn-outline-success{
    color: white !important;
    border: 1px solid white !important;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: transparent !important;
    border-color: white !important;
}

img{
    width: 140px;
    height: 130px;
    border-radius: 20px;
}

.btn-link{
    color: white;
    text-decoration: none;
}

.rounded{
    border-radius: 23px !important;
}

.bg-light{
    background-color: #ce0505 !important;
}

.card-col{
    height:50px;
    padding: 100px 500px;
}

.shadow{
    box-shadow: 10 3px 6px 0 rgba(0, 0, 0, 0.16);
    padding: 12px;
}

.card{
    box-shadow:  1px 1px  rgba(0, 0, 0, 0.16);
    margin-bottom: 300px;
    height: 50px;
    margin-right: 50px;
    margin-left:10px;
}

.h2{
    color: #192f60 !important;
    font-size: 18px;
    font-weight: 600;
}

.location{
    color: #192f60;
    font-size: 12px;
}





}



.food-menu-container{
    margin: 500px;
    padding: 25px 35px 25px 350px;
    min-height: 300px;
    min-width: 60px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    
}


@media only screen and (max-width:500px){
    .food-menu-container{
        margin: 10px;
        min-width: 350px;
    }
}

.food-menu-left{
    width: 30%;
    padding:22px;
    vertical-align: top;
}

.food-menu-right{
    padding:16px;

}

.food-header{
    color: #192f60;
    margin: 9px;
    font-family: monospace;
    font-size: 30px;
    font-weight: 600;
}

/* // Mobile devices */
@media only screen and (min-width:300px) and (max-width:600px){
    .food-header{
        font-size: 42px;
        color: red;
    }
}

/* Tablet devices */
@media only screen and (min-width:768px){
    .food-header{
        font-size: 40px;
        color: greenyellow;
    }
}

/* Desktop devices */
@media only screen and (min-width:1200px){
    .food-header{
        font-size: 36px;
        color: #192f60;
    }
}



.address-line-2{
    margin: 9px;
    color: #636f88;
    font-family: monospace;
    font-size: 16px;
    font-weight: 500;
}

.food-menu-top{
    border-bottom: 1px solid #dedfe5;
}

.prices{
    font-family: monospace;
    color: #636f88;
    font-size: 16px;
}

.td-price{
    font-size: 16px;
    font-family: monospace;
    padding: 24px;
    padding-left: 82px;
    color: #192f60;
}

img{
    width: 140px;
    height: 130px;
    border-radius: 20px;
}








.divPaginator{
    text-align:center;
    font-family: monospace;

}

/* Border */
/* margin: top right bottom left */
.spanPage{
   


    text-align: left; 
    border-color: #8c96ab;
    border-width: 1px;
    border-style:solid;
    border-radius: 100px;
    margin: 60px 10px 60px 10px;
    padding: 6px 10px 9px 14px;
   
}

/* Display */
.divPaginator{
    display: flex;

}

/* margin */

.margin-5{
    margin: 10px;
}


.food-menu-right td-price{
    text-align: start;
}










    




















.col{
    border: 1px solid #fff;;
    height: 600px;
    margin: 25px;
    margin-left: 100px;
    padding: 1px;
}

.bf-header{
    margin-left:100px;
    margin-top: 40px;
    color: #192f60 !important;
    font-size: 36px;
    font-weight: 600;
}

.navbar-brand{
    width: 60px;
    background-color: white !important;
    color: #eb2929 !important;
    text-align: center;
    font-weight: 600;
    font-size: 33px;
    border-radius: 29px;
}

.btn-outline-success{
    color: white !important;
    border: 1px solid white !important;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: transparent !important;
    border-color: white !important;
}

.btn-link{
    color: white;
    text-decoration: none;
}

.rounded{
    border-radius: 23px !important;
}

.bg-light{
    background-color: #ce0505 !important;
}

.card-col{
    height: 200px;
    padding: 30px 35px;
}

.shadow{
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    padding: 12px;
}

.card{
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    margin-bottom: 18px;
    height: 200px;
}

.h2{
    color: #192f60 !important;
    font-size: 18px;
    font-weight: 600;
}

.location{
    color: #192f60;
    font-size: 12px;
}



 
.Web-1920-6 {
    width: 700px;
    height: 20px;
    padding: 2 2 50px;
  
    border-radius: 7px;
    background-color: #fbfbfb;
  }


  
  