
    

nav{
    display: flex;
    width: 100%;
    background: red;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px;

}
nav .icon{
    font-size: 35px;
    font-weight: 800;
    color: #fff;
    cursor: pointer;
}
nav ol{
    display: flex;
    list-style:none;
    margin: auto 0;

}
nav ol li {
    margin:0 2px ;

}
nav ol li a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 5px 10px;

}
nav ol li:hover a{
    background: #fff;
    color: #0a5071;
}
nav .search_box{
    display: flex;
    margin: auto 0;
    height: 35px;
    line-height: 35px;
    text-align: left;

}
nav .search_box input{
    border: none;
    outline: none;
    background: #fff;
    height: 100%;
    padding: 10 30px;
    font-size: 20px;
    width: 600px;
}
nav .search_box span{
    color: #0a5071;
    font-size: 20px;
    background: #fff;
    height: 100%;
    padding: 8px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}
nav .search_box span ::after{
    height: 100%;
    width: 0%;
    content: '';
    background: #ff003c;
    position: absolute;
    top: 0;
    right: 10;
    z-index: -1;
    transition: 0.3s;
}







.Breakfast-Places-in-Hyderabad {
    width: 512px;
    height: 51px;
    margin: 50px 50px 70px 300px;
    font-family: Poppins;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #60191f;
    
  }
  .Rectangle-5 {
    width: 300px;
    height: 600px;
    margin: 10px 10px 10px 10px;
    padding: 17px 25px 31px 26px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    position: absolute;
   
  }
  .Rectangle-5.search_box{
      width: 200;
      
  }
  
.Web-1920-6 {
    width: 700px;
    height: 20px;
    padding: 2 2 50px;
  
    border-radius: 7px;
    background-color: #fbfbfb;
  }
.food-menu-container{
    margin: 10px;
    padding: 5px 5px 5px 5px;
    min-height: 300px;
    min-width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
    
  
@media only screen and (max-width:500px){
    .food-menu-container{
        margin: 10px;
        min-width: 350px;
    }
}

.food-menu-right{
    width: 30px;
    padding: 55px;
    vertical-align: top;
    height: 50px;
}

.food-menu-right{
    padding: 50px;
}

.food-header{
    color: #192f60;
    margin: 16px;
    font-family: monospace;
    font-size: 30px;
    font-weight: 600;
}

/* // Mobile devices */
@media only screen and (min-width:300px) and (max-width:600px){
    .food-header{
        font-size: 42px;
        color: red;
    }
}

/* Tablet devices */
@media only screen and (min-width:768px){
    .food-header{
        font-size: 40px;
        color: greenyellow;
    }
}

/* Desktop devices */
@media only screen and (min-width:1200px){
    .food-header{
        font-size: 36px;
        color: #192f60;
    }
}

.address-line-1{
    color: #192f60;
    margin: 9px;
    font-family: monospace;
    font-size: 16px;
    font-weight: 500;
}

.address-line-2{
    margin: 9px;
    color: #636f88;
    font-family: monospace;
    font-size: 16px;
    font-weight: 500;
}

  

.food-menu-top{
    border-bottom: 1px solid #dedfe5;
}

.prices{
    font-family: monospace;
    color: #636f88;
    font-size: 16px;
}

.td-price{
    font-size: 16px;
    font-family: monospace;
    padding: 24px;
    padding-left: 82px;
    color: #192f60;
}

img{
    width: 140px;
    height: 130px;
    border-radius: 20px;
}











/* Border */
/* margin: top right bottom left */
.spanPage{
    text-align: left; 
    border-color: #8c96ab;
    border-width: 1px;
    border-style: dashed;
    border-radius: 70px;
    margin: 10px 10px 10px 10px;
    padding: 4px 9px 4px 9px;
   
}

/* Display */
.divPaginator{
    display: flex;

}

/* margin */

.margin-5{
    margin: 10px;
}