.col{
    border: 1px solid #fff;
    margin-top: 100px;
    margin-left: 70px;
    width: 100px;
    height: 600px;
}

.right{
    margin-top: 100px;
    margin-left:25%;
    position: absolute;
    width: 50%;
}




.bf-header{
    margin-left:85px;
    margin-top: 10px;
    margin-bottom: -50px;
    color: #192f60 !important;
    font-size: 50px;
    font-weight: 600;
}

.navbar-brand{
    width: 60px;
    background-color: white !important;
    color: #eb2929 !important;
    text-align: center;
    font-weight: 600;
    font-size: 33px;
    border-radius: 29px;
    margin-left: 100px;
    margin-bottom: 10px;
}

.btn-outline-success{
    color: white !important;
    border: 1px solid white !important;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: transparent !important;
    border-color: white !important;
}

img{
    width: 140px;
    height: 130px;
    border-radius: 20px;
}

.btn-link{
    color: white;
    text-decoration: none;
}

.rounded{
    border-radius: 23px !important;
}

.bg-light{
    background-color: #ce0505 !important;
}

.card-col{
    padding: 10px 50px;
}

.shadow{
    box-shadow: 10 3px 6px 0 rgba(0, 0, 0, 0.16);
    padding: 12px;
}

.card{
    box-shadow:  6px 6px  rgba(0, 0, 0, 0.16);
    margin-bottom: 30px;
    height: 250px;
    width: 900px
}

.h2{
    color: #192f60 !important;
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
    width: 150px;
    margin-top: 15px;

}

.location{
    color: #192f60;
    font-size: 12px;
}






@media only screen and (max-width:500px){
    .food-menu-container{
        margin: 10px;
        min-width: 350px;
    }
}



.food-header{
    color: #192f60;
    margin: 0px;
    font-family: monospace;
    font-size: 30px;
    font-weight: 600;
}

.food-menu-left{
    margin-left: 900px;
}





/* // Mobile devices */
@media only screen and (min-width:300px) and (max-width:600px){
    .food-header{
        font-size: 20px;
        color: red;
    }
}

/* Tablet devices */
@media only screen and (min-width:768px){
    .food-header{
        font-size: 40px;
        color: greenyellow;
    }
}

/* Desktop devices */
@media only screen and (min-width:1200px){
    .food-header{
        font-size: 36px;
        color: #192f60;
    }
}




.address-line-1{
    color: #192f60;
    margin:0px;
    font-family: monospace;
    font-size: 16px;
    font-weight: 600;
}

.address-line-2{
    margin: 1px;
    color: #636f88;
    font-family: monospace;
    font-size: 16px;
    font-weight: 500;
}

.food-menu-top{
    border-bottom: 100px solid #dedfe5;
}

.prices{
    font-family: monospace;
    color: #636f88;
    font-size: 16px;
    margin-top: 30px;
    margin-left: -200px;
}

.td-price{
    font-size: 16px;
    font-family: monospace;
    color: #192f60;
}

img{
    width: 140px;
    height: 130px;
    border-radius: 20px;
}







.divPaginator{
    text-align:end;
    font-family: monospace;
    margin-left: 250px;

}

/* Border */
/* margin: top right bottom left */
.spanPage{
      text-align: end; 
    border-color:#8c96ab;
    border-width: 1px;
    border-style:solid;
    border-radius: 5px;
    margin: 5px 10px 20px 10px;
    padding: 6px 15px 10px 10px;
    
   
}

/* Display */
.divPaginator{
    display: flex;
    text-align: center;

}

/* margin */

.margin-5{
    margin: 60px;
}













    







 











  
  
  
  