.links
{
       border-radius: 10px;
}
.links:hover
{
        background-color: green;
}
   .zoom
   {
           transition: transform 0.5s;
   }
   .zoom:hover
   {
           transform: scale(1.1);
   }
     .checked
     {
color: orange;
     }
  